<nav class="navbar navbar-expand-lg navbar-light bg-custom shadow mb-4">
    <div class="container-fluid">
        <a class="navbar-brand shadow" href="home">
            <img src="assets/online_shop_16.jpg" alt="logo" class="rounded img-thumbnail logo-size">
        </a>
        <div >
            
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link " href="home">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="order">Giỏ hàng</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="input-group w-25 position-relative">
        <input type="search" class="form-control rounded" placeholder="Tìm kiếm sản phẩm..." [(ngModel)]="searchQuery"
            (ngModelChange)="onSearchChange($event)" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-success" (click)="toSearch(searchQuery)">
            Tìm
        </button>

        <!-- Danh sách gợi ý -->
        <ul class="list-group position-absolute mt-5 w-100" *ngIf="suggestions.length > 0">
            <li class="list-group-item list-group-item-action" *ngFor="let suggestion of suggestions"
                (click)="selectSuggestion(suggestion)">
                {{ suggestion }}
            </li>
        </ul>
    </div>
</nav>

<div class="container bg-custom mt-3 shadow rounded">
    <div class="row">
        <div *ngIf="orderList.length > 0 ; else nothingTemplate">
            <div *ngIf="successMessage" class="alert alert-success mt-3"> {{ successMessage }} </div>
            <div *ngIf="errorMessage" class="alert alert-danger mt-3"> {{ errorMessage }} </div>

            <div *ngFor="let order of orders; let i = index">
                <div>
                    <!-- Tiêu đề Đơn hàng -->
                    <h3>
                        <button class="btn btn-link text-decoration-none" type="button" data-bs-toggle="collapse"
                            [attr.data-bs-target]="'#orderItemsCollapse' + i"
                            (click)="getSelectedOrderId(order.orderId)">
                            <i class="bi bi-box"></i> Đơn hàng {{i + 1}}
                        </button>
                    </h3>


                    <div [id]="'orderItemsCollapse' + i" class="collapse">
                        <div *ngFor="let orderItem of orderItems">
                            <div class="card shadow rounded mt-3 p-3">
                                <div class="row align-items-center">
                                    <div class="col-12 col-md-2">
                                        <div class="card rounded shadow-sm p-2">
                                            <img src="{{orderItem.product.imageUrl}}" alt="ảnh sản phẩm"
                                                class="img-fluid rounded">
                                        </div>
                                        <h6 class="text-success mt-2">Tên sản phẩm: {{orderItem.product.name}}
                                        </h6>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <h6 class="text-success">Số lượng: {{orderItem.quantity}}</h6>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <h6 class="text-success">Tổng số tiền: {{orderItem.price}}.000 VND</h6>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <h6 class="text-success">Ngày đặt: {{orderItem.order.createdAt | date:
                                            'HH:mm dd-MM-yyyy'}}</h6>
                                    </div>
                                    <div class="col-12 col-md-2">
                                        <h6 class="text-success">Trạng thái: {{orderItem.order.status}}</h6>
                                    </div>
                                    <div class="col-12 col-md-1 text-center">
                                        <button class="btn btn-outline-danger" data-bs-toggle="modal"
                                            data-bs-target="#deleteMatHang"
                                            (click)="getSelectedOrderItemId(orderItem.orderItemId)">
                                            <i class="bi bi-trash"></i> Hủy mặt hàng
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div [id]="'orderItemsCollapse' + i" class="collapse">
                        <div class="text-center">
                            <button class="btn btn-outline-danger btn-lg mt-3" data-bs-toggle="modal"
                                data-bs-target="#deleteDonHang">
                                <i class="bi bi-cart-x"></i> Hủy đơn hàng
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <ng-template #nothingTemplate>
        <h3 class="text-danger text-center">Không có đơn hàng nào.</h3>
    </ng-template>


    <div class="modal fade" id="deleteMatHang">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-danger">Hủy mặt hàng</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" *ngIf="selectedOrderItemId">
                    Bạn chắc chắn muốn hủy mặt hàng này chứ?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-warning" data-bs-dismiss="modal"
                        (click)="deleteSelectedOrderItemByOrderItemId(selectedOrderItemId)">Yes</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteDonHang">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title text-danger">Hủy đơn hàng</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" *ngIf="">
                    Bạn chắc chắn muốn hủy đơn hàng này chứ?
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-warning" data-bs-dismiss="modal"
                        (click)="deleteSelectedOrderByOrderId(selectedOrderId)">Yes</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>