.image-product{
    width: 400px;
    height: 200px;
}
.bg-custom{
    background-color: #f2e2aa;
}
.color-text{
    color:  #58a1d9;;
}
.bg-product{
    background-color: #f2c070;
}
.logo-size{
    width: 100px;
    height: 100px;
}
