<nav class=" navbar navbar-expand-lg bg-custom shadow ">
    <div class=" container-fluid">
        <a class="navbar-brand shadow" href="home">
            <img src="assets/online_shop_16.jpg" alt="logo" class="rounded img-thumbnail logo-size">
        </a>

        <div *ngIf="currentUser; else guestTemplate">
            <h1 class="text-primary">xin chào, {{currentUser.username}}</h1>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link " href="product">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text" href="order">Giỏ hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">Đăng xuất</a>
                </li>

            </ul>
        </div>
        <ng-template #guestTemplate>
            <div class="text-primary">
                <h1>Chào mừng bạn!</h1>
                <p>Đăng nhập hoặc đăng ký để bắt đầu mua sắm nào!</p>
            </div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link " href="product" data-bs-toggle="modal" data-bs-target="#warningLoginModal">Sản
                        phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#warningLoginModal">Giỏ hàng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="register">Đăng ký</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="login">Đăng nhập</a>
                </li>
            </ul>
        </ng-template>


        <div class="input-group w-25 position-relative">
            <input type="search" class="form-control rounded" placeholder="Tìm kiếm sản phẩm..."
                [(ngModel)]="searchQuery" (ngModelChange)="onSearchChange($event)" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="button" class="btn btn-outline-success" (click)="toSearch(searchQuery)">
                Tìm
            </button>

            <!-- Danh sách gợi ý -->
            <ul class="list-group position-absolute mt-5 w-100" *ngIf="suggestions.length > 0">
                <li class="list-group-item list-group-item-action" *ngFor="let suggestion of suggestions"
                    (click)="selectSuggestion(suggestion)">
                    {{ suggestion }}
                </li>
            </ul>
        </div>


    </div>
</nav>


<div class="container d-flex align-items-start mt-3">
    <div class="me-3">
        <h5>Theo danh mục sản phẩm</h5>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" value="interior" id="flexRadioDefault"
                (change)="onRadioChange($event)">
            <label class="form-check-label" for="flexRadioDefault">
                Đồ nội thất
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" value="food" id="flexRadioDefault1"
                (change)="onRadioChange($event)">
            <label class="form-check-label" for="flexRadioDefault1">
                Đồ ăn
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" value="clother" id="flexRadioDefault2"
                (change)="onRadioChange($event)">
            <label class="form-check-label" for="flexRadioDefault2">
                Quần áo
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" value="all" id="flexRadioDefault3"
                (change)="onRadioChange($event)" checked>
            <label class="form-check-label" for="flexRadioDefault3">
                Tất cả
            </label>
        </div>



    </div>
    <div class="container bg-product shadow rounded flex-grow-1">
        <div class="row">
            <div class="col-md-4 mt-3" *ngFor="let product of products">
                <div class="card shadow rounded">
                    <img src={{product.imageUrl}} class="card-img-top image-product" alt="Sản phẩm 2">
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">Giá bán 1kg: {{product.price}}.000</p>
                        <div *ngIf="currentUser">
                            <a href="product" class="btn btn-primary">Mua ngay</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="logoutModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Logout</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Bạn chắc chắn muốn đăng xuất chứ ?
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-warning" (click)="logOut()" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="warningLoginModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title text-warning">Thông báo</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Bạn phải đăng nhập để sử dụng chức năng này.
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-warning" (click)="logIn()" data-bs-dismiss="modal">Đăng nhập</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Để sau</button>
            </div>

        </div>
    </div>
</div>